.khan__buy-link {
    margin: 0;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color: #2F80ED;
    text-decoration: none;
    vertical-align: top;
    align-self: flex-start;
    transition: opacity 0.3s ease-in-out;
}

.khan__buy-link:hover {
  opacity: 0.5;
}
